@import '../../styles/responsive';
.movie {
    max-width: 100%;
    text-align: center;
    &__header-container {
        position: relative;
    }
    &__header-container-icon {
        position: absolute;
        top: 0;
        left: 0;
        margin: 5px;
        font-size: 2rem;
        color: black;
        cursor: pointer;
    }
    &__header-container-title {
        margin: 15px 0;
        background: linear-gradient(90deg, #00ad81, #00ffbe);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    &__container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
    &__container-link {
        max-width: 48%;
        @include movil {
            max-width: 32%;
        }
        @include tablet {
            max-width: 24%;
        }
        @include tablet-big {
            max-width: 19%;
        }
        @include desktop {
            max-width: 16%;
        }
    }
    &__container-img {
        width: 100%;
        min-height: 301px;
        border-radius: 10px;
        @include movil {
            min-height: 255px;
        }
        @include movil-big {
            min-height: 355px;
        }
        @include desktop {
            min-height: 456px;
        }
    }
}