@import '../../Styles/responsive.scss';
@import '../../styles/colors.scss';

.building-container {
    width: 90%;
    height: auto;
    margin: 0;
    text-align: center;
    padding-top: 10%;
    margin: 0 auto;
}

.building__container-title{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 10px;
    color: $green_blue;
}