@import '../../Styles/responsive.scss';
@import '../../styles/colors.scss';

.settings-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    padding-top: 20%;
    margin: 0 auto;
}

.settings__container-title {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 10px;
    color: $green_blue;
}

/* .recommender1__button {
    display: flex;
    justify-content: center;
} */

/* .settings__container-text {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 10px;
} */

.settings__provider{
    padding-top: 10%;
}

.settings__provider-button{
    display: flex;
    justify-content: center;
}

.settings__logout{
    padding-top: 10%;
}

@include tablet-big {
    &__title {
        font-size: 28px;
    }
    &__logo {
        width: 20%;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@include desktop {
    &__text {
        margin-bottom: 5%;
    }
    &__img {
        margin-bottom: 5%;
    }
    &__logo {
        width: 15%;
        margin-left: 0;
        margin-right: 0;
    }
}