@import '../../Styles/responsive.scss';
@import '../../styles/colors.scss';

.input-container{
    width: 80%;
    height: auto;
    margin: 0;
    text-align: center;
    padding-top: 10%;
    margin: 0 auto;
}

.recommender1__button {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.input__search{
    width:300px;
    margin:10px;
    padding:10px 16px;
    border-radius:32px;
    outline:none;
    border:2px solid #00ad81;
    background:hsla(165, 95%, 37%, 0.342);
    transition:all 0.5s;
}