@import '../../Styles/responsive.scss';
@import '../../styles/colors.scss';

.recommender1-container {
    width: 90%;
    height: auto;
    margin: 0;
    text-align: center;
    padding-top: 5%;
    margin: 0 auto;
}

.recommender1__container-text {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 10px;
}

.recommender1__container-title {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 10px;
}

.recommender1__container-img {
    width: 50%;
    margin-top: 5%;
    @include tablet-big {
        width: 30%;
    }
}

.recommender1-bold {
    font-weight: bold;
}

.recommender1__button {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

@include tablet-big {
    &__title {
        font-size: 28px;
    }
    &__logo {
        width: 20%;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@include desktop {
    &__text {
        margin-bottom: 5%;
    }
    &__img {
        margin-bottom: 5%;
    }
    &__logo {
        width: 15%;
        margin-left: 0;
        margin-right: 0;
    }
}